body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #848e9f;
  overflow-x: hidden;
}
a {
  color: #1ab2a9;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-emphasis: none;
}
a:hover {
  color: #003847;
  text-decoration: none;
}




.blog-head-section{
  background-image: url(./img/background-b.webp);
  /* object-fit: cover; */
  background-size: auto;
  background-position: center center;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-title h1{
      color: #fff;
    font-size: 75px;
    line-height: 1.1;
    margin-bottom: 20px;
}
.blog-body-section{
  margin: 50px 0px;
}
img{
  width: 100%;
}
.card-body{
  /* border: 1px solid red; */
  padding: 20px !important;
}
.img-box{
  overflow: hidden;
  border-radius: 4px;
  height:200px ;
}
.img-box img{
  width: 100%;
  height: 100%;
} 
 .card-body:hover .img-box img{
  -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
    rotate:3deg;
    scale: 1.1;
}
.card-body h3 {
      font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-body h3 a{
      color: #1f314f;
}
.card-body h3 a:hover{

}
.post_meat{
      margin-bottom: 14px;
}
.post_meat span{
color: #054c8b;
}
.info_list p{
  color: #848e9f;
}